/*=============================
  Thème général
============================*/

.dark_bg{
	background-color: rgba(0,0,0,0.8);
}

.dark_bg h1, .dark_bg p{
  color: #fff;
}

.light_bg{
	background-color: rgba(240,240,240,1);
}

.light_bg_2{
	background-color: rgba(240,240,240,0.8);
}

.light_bg h1, .light_bg p, .light_bg_2 h1, .light_bg_2 p, .light_bg div p{
  color: #333;
}

/*=============================
  Thème pour navigateur
============================*/

body {
    position: relative; 
}

.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}

.navbar {
    margin-bottom: 0px;
}

.affix ~ .container-fluid {
   position: relative;
   top: 50px;
}

/*=============================
  Thème pour section CA
============================*/

.ca-img{
  position: relative;
  margin: auto;
  width: 240px;
  height: 240px;
}

.ca-img-elu{
  position: absolute;
  width: 80%;
  height: 80%;
  left: 0px;
  top: 0px;
}

.ca-img-adj{
  position: absolute;
  width: 50%;
  height: 50%;
  right: 0px;
  bottom: 0px;
}

.ca-img-unique{
  margin: auto;
  width: 80%;
  height: 80%;
}

.ca-img img{
  box-shadow: 0px 0px 20px #000;
}

.ca-img-elu-mod{
  margin: auto;
  width: 50%;
  height: 50%;
}

.ca-img-adj-mod{
  margin: auto;
  width: 30%;
  height: 30%;
}

.ca-img-unique-mod{
  margin: auto;
  width: 50%;
  height: 50%;
}