/*============================
  Thème général
============================*/

html, body {
  position: relative;
/*  background: #fff url("../img/header_bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  font-family: 'Arvo', serif;
  font-size: 14px;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(../img/header_bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 850px) {
  html, body{
    font-size: 10px;
  }
}

p {
  font-size: 1.5em;
}

h1 {
  font-size: 3em;
}

.fade {
  opacity: 1;
  height: 100%;
}

.fade.ng-hide-add, .fade.ng-hide-remove {
  transition: all linear 0.5s;
}

.fade.ng-hide {
  opacity: 0;
  margin: 0;
  padding: 0;
  height: 0;
  border: none;
}

.row {
  padding-right: 0px;
}

/*============================
  Thème pour l'entête
============================*/

.page-header {
  margin: 0px;
  height: 700px;
  border-style: none;
  padding: 2%;
  background: #00cc00; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(6,249,6,0.5),rgba(6,249,6,0.8),rgba(6,249,6,0.5)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(6,249,6,0.5),rgba(6,249,6,0.8),rgba(6,249,6,0.5)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(6,249,6,0.5),rgba(6,249,6,0.8),rgba(6,249,6,0.5)); /*Fx 3.6-15*/
  background: linear-gradient(to right,rgba(6,249,6,0.5),rgba(6,249,6,0.8),rgba(6,249,6,0.5)); /*Standard*/
}

.page-header h1 {
  font-size: 17em;
}

.page-header h2 {
  font-size: 9em;
}

.page-header p {
  font-size: 3em;
}

@media screen and (max-width: 850px) {
  .page-header h1{font-size: 22em;}
  .page-header h2{font-size: 6em;}
  .page-header p{font-size: 2.5em;}
}

/*============================
  Thème pour navigateur
============================*/

.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}

.navbar {
  margin: 0px;
  border-radius: 0px 0px 5px 5px;
}

.affix ~ .container-fluid {
 position: relative;
 top: 50px;
}

.navbar button {
  color: #999;
}

.navbar li {
  font-size: 1.1em;
}

.navbar-brand {
  font-size: 1.5em;
}

/*============================
  Thème pour l'à propos
============================*/

#a_propos {
  background: #ddd;
  padding: 2%;
}

#a_propos hr {
  border-color: #bbb;
}

/*============================
  Thème pour section CA
============================*/

#ca {
  background: rgba(0,0,0,0.5);
  padding: 2%;
}

#ca h1 {
  color: #ddd;
}

#ca hr {
  border-color: #bbb;
}

#ca .glyphicon, #ca .icon {
  color: black;
}

#ca .panel {
  background: rgba(0,0,0,0);
  border: solid #00cc00 2px;
  box-shadow: 0 0 0 2px #0df20d;
  border-radius: 0;
}

#ca .panel-heading {
  border-radius: 0;
  background: #00cc00;
}

#ca .panel-body {
  background: #ddd;
}

#ca .panel-footer {
  border-top: solid #bbb 3px;
  background: #ddd;
  border-radius: 0;
}

#ca .panel-body .btn {
  width: 100%;
}

.ca-img{
  position: relative;
  margin: auto;
  width: 240px;
  height: 240px;
}

.ca-img-elu{
  position: absolute;
  width: 80%;
  height: 80%;
  left: 0px;
  top: 0px;
}

.ca-img-adj{
  position: absolute;
  width: 50%;
  height: 50%;
  right: 0px;
  bottom: 0px;
}

.ca-img-unique{
  margin: auto;
  width: 80%;
  height: 80%;
}

.ca-img img{
  box-shadow: 0px 0px 20px #06f906;
}

.ca-img-elu-mod{
  margin: auto;
  width: 50%;
  height: 50%;
}

.ca-img-adj-mod{
  margin: auto;
  width: 30%;
  height: 30%;
}

.ca-img-unique-mod{
  margin: auto;
  width: 50%;
  height: 50%;
}

/*============================
  Thème pour section planck
============================*/

#planck {
  background: #ddd;
  padding: 2%;
}

#planck .row{
  padding: 10px;
}

#planck .glyphicon {
  color: #0df20d;
  text-shadow: 0 0 5px #136c13;
}

/*============================
  Thème pour événements
============================*/

#evenements {
  background: rgba(0,0,0,0.5);
  padding: 2%;
}

#evenements h1 {
  color: #ddd;
}

#evenements hr {
  border-color: #bbb;
}

#evenements .thumbnail {
  background: #ddd;
  border: none;
  padding: 0;
  padding-top: 2%;
  border-radius: 0;
}

#evenements .thumbnail .header {
  height: 14em;
}

#evenements .thumbnail h2, #evenements .thumbnail p {
  margin: 10px;
}

#evenements .carousel {
  width: 94%;
  margin: auto;
}

#evenement .carousel-inner {
  width: 100%;
}

#evenement .carousel-inner im {
  width: 100%;
}

#evenements .carousel-indicators li {
  background-color: #0df20d;
  border: none;
  box-shadow: 0 0 2px #136c13;
}

#evenements .carousel-control span {
  color: #0df20d;
}

/*============================
  Thème pour comités
============================*/

#comites {
  background: #ddd;
  padding: 2%;
}

#comites .thumbnail {
  background: rgba(0,0,0,0);
}

#comites .icon, #comites .glyphicon {
  color: #0df20d;
  font-size: 2em;
  text-shadow: 0 0 10px #136c13;
}

#comites .btn {
  background-color: #06f906;
  border: 1px solid #136c13;
}

/*============================
  Thème pour calendrier
============================*/

#calendrier {
  background: rgba(0,0,0,0.5);
  padding: 2%;
}

#calendrier h1 {
  color: #ddd;
}

#calendrier hr {
  border-color: #bbb;
}

#calendrier .embed-responsive {
  margin-left: 10%;
  margin-right: 10%;
}

/*============================
  Thème pour footer
============================*/

footer {
  background: #111;
  padding: 2%;
}

footer h1 {
  margin-top: 0;
  font-size: 2em;
}

footer p {
  color: #ddd;
  font-size: 1em;
  margin: 2px;
}

footer .icon, footer .glyphicon {
  color: #0df20d;
}

/*============================
  Thème pour divisions
============================*/

.diviseur {
  height: 350px;
  border-radius: 0;
  margin: 0;
  padding: 5%;
  width: 100%;
  background-color: #ddd;
}

.diviseur h1 {
  font-size: 2.5em;
  color: white;
  text-shadow: 0 0 3px #000;
}

.diviseur p {
  font-size: 2em;
  color: white;
  text-shadow: 0 0 3px #000;
}

@media screen and (max-width: 850px) {
  .diviseur h1{font-size: 2.2em;}
  .diviseur p{font-size: 1.8em;}
}

#div1 {
  background: #fff url("../img/bg/divider1.jpg") no-repeat scroll center;
  background-size: cover;
}

#div2 {
  background: #fff url("../img/bg/divider2.jpg") no-repeat scroll center;
  background-size: cover;
}

#div3 {
  background: #fff url("../img/bg/divider3.jpg") no-repeat scroll center;
  background-size: cover;
}

#div4 {
  background: #fff url("../img/bg/divider4.jpg") no-repeat scroll center;
  background-size: cover;
}

#div5 {
  background: #fff url("../img/bg/divider5.jpg") no-repeat scroll center;
  background-size: cover;
}
