/*=============================
  Thème général
============================*/

body {
  position: relative;
  font-family: 'Arvo', serif;
}

@media (max-width: 767px) {
  body {
    background-image: url("../img/header_bg_mobile.jpg");
    background-size: 100%;
  }
}

@media (min-width: 768px) {
  body {
    background: #000 url("../img/header_bg.jpg") no-repeat fixed center;
    background-size: cover;
  }
}

p {
  font-size: 16px;
}

.fade {
  opacity: 1;
  height: 100%;
}

.fade.ng-hide-add, .fade.ng-hide-remove {
  transition: all linear 0.5s;
}

.fade.ng-hide {
  opacity: 0;
  margin: 0;
  padding: 0;
  height: 0;
  border: none;
}

/*=============================
  Thème pour l'entête
============================*/

.page-header {
  margin: 0px;
  height: 500px;
  border-style: none;
  font-size: xx-large;
  padding: 2%;
  background: #33ff33; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(51, 255, 51,0.5),rgba(51, 255, 51,0.9),rgba(51, 255, 51,0.5)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(51, 255, 51,0.5),rgba(51, 255, 51,0.9),rgba(51, 255, 51,0.5)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(51, 255, 51,0.5),rgba(51, 255, 51,0.9),rgba(51, 255, 51,0.5)); /*Fx 3.6-15*/
  background: linear-gradient(to right,rgba(51, 255, 51,0.5),rgba(51, 255, 51,0.9),rgba(51, 255, 51,0.5)); /*Standard*/
}

.page-header h1 {
  font-size: 500%;
}

.page-header h2 {
  font-size: 200%;
}

.page-header p {
  font-size: 75%;
}

/*=============================
  Thème pour navigateur
============================*/

.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}

.navbar {
  margin: 0px;
  border-radius: 0px 0px 7px 7px;
}

.affix ~ .container-fluid {
 position: relative;
 top: 50px;
}

.navbar button {
  color: #999;
}

/*=============================
  Thème pour l'à propos
============================*/

#a_propos {
  background: #ddd;
  padding: 2%;
}

#a_propos hr {
  border-color: #bbb;
}

/*=============================
  Thème pour section CA
============================*/

#ca {
  background: rgba(0,0,0,0.5);
  padding: 2%;
}

#ca h1 {
  color: #ddd;
}

#ca h2 {
  margin: 2%;
  font-size: 130%;
}

#ca hr {
  border-color: #bbb;
}

#ca .glyphicon, #ca .icon {
  color: #00ff00;
}

h6 {
  font-size: 160%;
  text-align: center;
}

#ca .panel {
  background: rgba(0,0,0,0);
  border: 3px solid transparent;
  -webkit-border-color: -webkit-linear-gradient(top,rgba(0,255,0,1) 50%,rgba(0,0,0,0) 90%); /*Safari 5.1-6*/
  -moz-border-color: -moz-linear-gradient(top,rgba(0,255,0,1) 50%,rgba(0,0,0,0) 90%); /*Fx 3.6-15*/
  border-image: linear-gradient(to top,rgba(0,255,0,1) 50%,rgba(0,0,0,0) 90%); /*Standard*/
  border-image-slice: 1;
  border-radius: 0;
}

#ca .panel-heading {
  border-radius: 0;
  padding: 10px;
  background: #33ff33; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top,rgba(51, 255, 51,1),rgba(0,0,0,0) 75%); /*Safari 5.1-6*/
  background: -o-linear-gradient(top,rgba(51, 255, 51,1),rgba(0,0,0,0) 75%); /*Opera 11.1-12*/
  background: -moz-linear-gradient(top,rgba(51, 255, 51,1),rgba(0,0,0,0) 75%); /*Fx 3.6-15*/
  background: linear-gradient(to top,rgba(51, 255, 51,1),rgba(0,0,0,0) 75%); /*Standard*/
}

#ca .panel-body {
  padding: 0;
  padding-top: 30px;
  background: #ddd;
}

#ca .panel-footer {
  border-top: solid #999 1px;
  background: #ddd;
  border-radius: 0;
}

#ca .panel-body .btn {
  margin: 0;
  width: 100%;
  border: none;
  border-top: solid #999 1px;
  border-radius: 0;
}

.ca-img{
  position: relative;
  margin: auto;
  width: 240px;
  height: 240px;
}

.ca-img-elu{
  position: absolute;
  width: 80%;
  height: 80%;
  left: 0px;
  top: 0px;
}

.ca-img-adj{
  position: absolute;
  width: 50%;
  height: 50%;
  right: 0px;
  bottom: 0px;
}

.ca-img-unique{
  margin: auto;
  width: 80%;
  height: 80%;
}

.ca-img img{
  box-shadow: 0px 0px 20px #33ff33;
}

.ca-img-elu-mod{
  margin: auto;
  width: 50%;
  height: 50%;
}

.ca-img-adj-mod{
  margin: auto;
  width: 30%;
  height: 30%;
}

.ca-img-unique-mod{
  margin: auto;
  width: 50%;
  height: 50%;
}

/*=============================
  Thème pour section planck
============================*/

#planck {
  background: #ddd;
  padding: 2%;
}

#planck .row{
  padding: 10px;
}

#planck .glyphicon {
  color: #00ff00;
}

/*=============================
  Thème pour événements
============================*/

#evenements {
  background: rgba(0,0,0,0.5);
  padding: 2%;
}

#evenements h1 {
  color: #ddd;
}

#evenements hr {
  border-color: #bbb;
}

#evenements .thumbnail {
  background: #ddd;
  border: none;
  padding: 0;
  padding-top: 2%;
  border-radius: 0;
}

#evenements .thumbnail h2, #evenements .thumbnail p {
  margin: 5px;
}

#evenements .carousel {
  width: 100%;
}

#evenement .carousel-inner {
  width: 100%;
}

#evenement .carousel-inner im {
  width: 100%;
}

#evenements .carousel-indicators li {
  background-color: #33ff33;
}

#evenements .carousel-control span {
  color: #33ff33;
}

/*=============================
  Thème pour comités
============================*/

#comites {
  background: #ddd;
  padding: 2%;
}

#comites .thumbnail {
  background: rgba(0,0,0,0);
}

#comites .icon, #comites .glyphicon {
  color: #00ff00;
}

#comites .btn {
  background-color: #33ff33;
}

/*=============================
  Thème pour calendrier
============================*/

#calendrier {
  background: rgba(0,0,0,0.5);
  padding: 2%;
}

#calendrier h1 {
  color: #ddd;
}

#calendrier hr {
  border-color: #bbb;
}

#calendrier .embed-responsive {
  margin-left: 10%;
  margin-right: 10%;
}

/*=============================
  Thème pour footer
============================*/

footer {
  background: #111;
  padding: 2%;
}

footer h1 {
  margin-top: 0;
  font-size: 16px;
}

footer p {
  color: #ddd;
  font-size: 14px;
  margin: 2px;
}

footer .icon, footer .glyphicon {
  color: #00ff00;
}

/*=============================
  Thème pour divisions
============================*/

.diviseur {
  height: 300px;
  border-radius: 0;
  margin: 0;
  padding: 5%;
  width: 100%;
  background-color: #ddd;
}

.diviseur h1 {
  font-size: 30px;
  color: white;
  text-shadow: 0 0 3px black;
}

.diviseur p {
  font-size: 20px;
  color: white;
  text-shadow: 0 0 2px black;
}

#div1 {
  background: #fff url("../img/bg/divider1.jpg") no-repeat scroll center;
  background-size: cover;
}

#div2 {
  background: #fff url("../img/bg/divider2.jpg") no-repeat scroll center;
  background-size: cover;
}

#div3 {
  background: #fff url("../img/bg/divider3.jpg") no-repeat scroll center;
  background-size: cover;
}

#div4 {
  background: #fff url("../img/bg/divider4.jpg") no-repeat scroll center;
  background-size: cover;
}

#div5 {
  background: #fff url("../img/bg/divider5.jpg") no-repeat scroll center;
  background-size: cover;
}
