<!DOCTYPE html>
<html lang="fr">



	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="PHYSUM - Association des étudiants et étudiates en physique de l'Université de Montréal">
		<meta name="author" content="Aude Forcione-Lambert - kijrel@gmail.com">

		<link rel="icon" href="img/physum.png">

		<title>PHYSUM - Association des étudiants et étudiantes en physique de l'Université de Montréal</title>

		<!-- fichiers css -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type='text/css' href="icomoon/style.css">
		<link rel="stylesheet" type='text/css' href="css/main.css">

		<!-- fonts -->
		<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Arvo:400,400italic,700,700italic'>
		  
		<!-- fichiers pour angular -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular-animate.js"></script>
		<script type="text/javascript" src="js/app-angular.js"></script>
	</head>



	<body data-spy="scroll" data-offset="50" data-target=".navbar" ng-app="physum">



		<!-- entête -->
		<div id="accueil" class="page-header container-fluid">
			<div class="container-fluid text-center">
				<h1><span class="icon icon-physum"></span></h1>
				<h2>PHYSUM</h2>
				<p>Bienvenue sur la page de l'association des étudiants et étudiantes en physique de l'Université de Montréal</p>
			</div><!-- container-fluid -->
		</div><!-- page-header -->



		<!-- navigateur -->
		<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="500">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#monNav">
						<span class="glyphicon glyphicon-menu-hamburger"></span>                      
					</button>
					<a class="navbar-brand" href="#accueil"><span class="icon icon-physum"></span> Physum</a>
				</div>
				<div class="collapse navbar-collapse" id="monNav">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#accueil">Accueil</a></li>
						<li><a href="#a_propos">À propos</a></li>
						<li><a href="#ca">CA</a></li>
						<li><a href="#planck">Planck</a></li>
						<li><a href="#evenements">Événements</a></li>
						<li><a href="#comites">Comités</a></li>
						<li><a href="#calendrier">Calendrier</a></li>
						<li><a href="#liens">Liens</a></li>
					</ul>
				</div>
			</div>
		</nav>    



		<!-- à propos -->
		<div id="a_propos" class="container-fluid">
			<h1>QUI SOMMES NOUS?</h1>
			<hr>
			<div class="container-fluid">
				<div class="row">
		  
					<div class="col-lg-6">
						<p>L'Association des étudiants et étudiantes en physique de l'Université de Montréal (PHYSUM) représente les étudiants en physique de l'Université de Montréal depuis 1986. Toute personne inscrite au baccalauréat, à la majeure, à la mineure, à la maîtrise ou au doctorat en physique, physique-informatique ou mathématique-physique à l’Université de Montréal, est automatiquement membre de la PHYSUM.</p>
					</div><!-- col-lg-6 -->

					<div class="col-lg-6">
						<p>La PHYSUM poursuit les buts suivants:</p>
						<ul>
							<li><p>représenter les intérêts des membres, tels que définis par l'Assemblée générale, auprès des corps professoral et administratif;</p></li>
							<li><p>promouvoir la formation et le maintien d'un niveau de vie sociale intéressant pour les membres.</p></li>
						</ul>
						<p>Étant accréditée, la PHYSUM dispose du droit d'envoyer des représentants dans plusieurs comités du Département de Physique. Les membres qui nous représentent ainsi sont élus lors d'une Assemblée Générale. Nous pouvons ainsi contribuer à l'orientation et au fonctionnement du département.</p>
					</div><!-- col-lg-6 -->

				</div><!-- row -->
			</div><!-- container-fluid -->
		</div><!-- a_propos -->



		<!-- diviseur -->
		<div id="div1" class="container-fluid diviseur text-center">
			<h1>VENEZ RENCONTRER NOTRE ÉQUIPE</h1>
			<hr>
			<p>Le conseil d'administration s'occupe du bien être des élèves. N'hésitez pas à nous contacter si vous avez besoin d'aide ou si vous avez des questions.</p>
		</div><!-- container-fluid -->



		<!-- membres du ca -->
		<div id="ca" class="container-fluid" ng-controller="MembresCa as membresca">
			<h1>LES MEMBRES DU C.A. SONT LÀ POUR VOUS</h1>
			<hr>
			<div class="container-fluid">
				<div class="row">
					<div ng-repeat="membre in membresca.membres">

						<div class="clearfix visible-sm" ng-if="$index%2==0"></div>
						<div class="clearfix visible-md" ng-if="$index%3==0"></div>
						<div class="clearfix visible-lg" ng-if="$index%4==0"></div>

						<div class="col-sm-6 col-md-4 col-lg-3">
							<div class="panel panel-default">

								<div class="panel-heading">
								  <div class="ca-img" ng-if="membre.nom_adj!=''">
										<img class="img img-circle img-thumbnail ca-img-elu" ng-src="img/team/{{membre.image}}" alt="">
										<img class="img img-circle img-thumbnail ca-img-adj" ng-src="img/team/{{membre.image_adj}}" alt="">
									</div><!-- ca-img -->
									<div class="ca-img" ng-if="membre.nom_adj==''">
										<img class="img img-circle img-thumbnail ca-img-unique center-block" ng-src="img/team/{{membre.image}}" alt="">
									</div><!-- ca-img -->
								</div><!-- panel-heading -->

								<div class="panel-body">
									<h2>{{membre.titre}}</h2>
									<br>
									<a href="#caFooter{{$index}}" data-toggle="collapse" class="btn btn-default">Informations</a></li>
								</div><!-- panel-body -->

								<div id="caFooter{{$index}}" class="panel-footer collapse">
									<h3>{{membre.nom}}</h3>
									<h6>
  									<a ng-if="membre.facebook!=''" href="{{membre.facebook}}" class="icon icon-facebook"></a>  
  									<a ng-if="membre.courriel!=''" href="mailto:{{membre.courriel}}" target="_blank" class="glyphicon glyphicon-envelope"></a>
									</h6>
									<div ng-if="membre.nom_adj!=''">
										<br>
										<h5>adjoint(e)</h5>
										<h4>{{membre.nom_adj}}</h4>
										<h6>
  										<a ng-if="membre.facebook_adj!=''" href="{{membre.facebook_adj}}" target="_blank" class="icon icon-facebook"></a>  
  										<a ng-if="membre.courriel_adj!=''" href="mailto:{{membre.courriel_adj}}" target="_blank" class="glyphicon glyphicon-envelope"></a>
									  </h6>
									</div><!-- if adjoint -->
									<br>
									<p>{{membre.description}}</p>
								</div><!-- panel-footer -->

							</div><!-- panel -->
						</div><!-- col-sm-6 col-md-4 col-lg-3 -->

					</div><!-- ng-repeat -->
				</div><!-- row -->
			</div><!-- container-fluid -->
		</div><!-- ca -->



		<!-- diviseur -->
		<div id="div2" class="container-fluid diviseur text-center">
			<h1>NOUS POSSÉDONS L'UN DES MEILLEURS CAFÉS ÉTUDIANTS DU CAMPUS</h1>
			<hr>
			<p>Que ce soit pour faire vos devoirs, prendre un bon repas ou simplement relaxer avec des amis, le café étudiant La Planck est votre destination privilégiée.</p>
		</div><!-- container-fluid -->



		<!-- planck -->
		<div id="planck" class="container-fluid">
			<h1>LA PLANCK, CAFÉ EXTRAORDINAIRE</h1>
			<hr>
			<div class="container-fluid">
				<div class="row text-center">

					<div class="col-sm-3">
						<p><span class="glyphicon glyphicon-map-marker"></span> D-400 Roger-Gaudry</p>
					</div><!-- col-sm-4 -->

					<div class="col-sm-3">
						<p><span class="glyphicon glyphicon-time"></span> 8h30 à 17h30 du lundi au vendredi</p>
					</div><!-- col-sm-4 -->

					<div class="col-sm-3">
						<p><span class="glyphicon glyphicon-earphone"></span> 514-343-6111, poste 1614</p>
					</div><!-- col-sm-4 -->
					
					<div class="col-sm-3">
						<p><a href="https://www.facebook.com/CafeLaPlanck" target="_blanck" class="icon icon-facebook"></a><a href="https://www.facebook.com/CafeLaPlanck"> consultez notre page Facebook</a></p>
					</div><!-- col-sm-4 -->

				</div><!-- row -->
				<div class="row">

					<div class="col-sm-5">
						<img class="img img-responsive center-block" src="img/portfolio/planck1.jpg" alt="">
					</div><!-- col-md-5 -->

					<div class="col-sm-7">
						<p>La Planck est le café étudiant du département de physique. Il est situé au local D-400 du pavillon Roger-Gaudry. Il offre une ambiance agréable pour discuter ou faire ses devoirs. De plus, sandwich, pâtisseries, café et bien plus sont servis pour satisfaire votre appétit.</p>
						<p>Les heures d'ouverture de La Planck sont de 8h30 à 17h30. Il est aussi possible d'être à La Planck à toute heure entre 6h et 23h: Contactez un membre du Conseil d'Administration pour savoir comment entrer si la porte est fermée. Notez que le service alimentaire n'est offert que pendant les heures d'ouvertures officielles; mais qu'un four à micro-ondes, un grille pain, et une bouilloire sont en libre-service.</p>
					</div><!-- col-md-7 -->

				</div><!-- row -->
				<div class="row">

					<div class="col-sm-5 col-sm-push-7">
						<img class="img img-responsive center-block" src="img/portfolio/planck2.jpg" alt="">
					</div><!-- col-md-4 -->

					<div class="col-sm-7 col-sm-pull-5">
						<p>La Planck fonctionne grâce à l'implication assidue d'une cinquantaine de bénévoles. Sans eux, il n'y aurait personne pour vous servir! Au début de chaque session, les membres du Conseil Exécutif de La Planck sont à la recherche de bénévoles pour la sesssion à venir: Inscrivez-vous et contribuez à la vie de votre association! Pour vous remercier de votre implication, à la fin de chaque session, La Planck invite, à ses frais, ses bénévoles à un souper pour les remercier de leur implication.</p>
					</div><!-- col-md-7 -->

				</div><!-- row -->
			</div><!-- container-fluid -->
		</div><!-- planck -->



		<!-- diviseur -->
		<div id="div3" class="container-fluid diviseur text-center">
			<h1>DE NOMBREUSES ACTIVITÉS POUR TOUT LES GOÛTS</h1>
			<hr>
			<p>Entre les cours et les examens, on trouve tout de même le temps de s'amuser en physique! Des activités sportives aux partys hebdomadaires, ils nous fera toujours plaisir de vous y voir.</p>
		</div><!-- container-fluid -->



		<!-- événements -->
		<div id="evenements" class="container-fluid" ng-controller="Evenements as evenements">
			<h1>DES ÉVÉNEMENTS À CHAQUE SEMAINE</h1>
			<hr>
			<div class="container-fluid">
				<div class="row">
					<div ng-repeat="evenement in evenements.eve">

						<div class="clearfix visible-md" ng-if="$index%3==0"></div>

						<div class="col-md-4">
							<div class="thumbnail">

								<div class="header">
									<h2>{{evenement.nom}}</h2>
									<p>{{evenement.description}}</p>
								</div><!-- header -->

								<div id="carou{{$index}}" class="carousel slide" data-ride="carousel">
									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li ng-repeat="image in evenement.images" data-target="#carou{{$parent.$index}}" data-slide-to="{{$index}}" ng-class="{active:$first}"></li>
									</ol>

									<!-- Wrapper for slides -->
									<div class="carousel-inner" role="listbox">
										<div ng-repeat="image in evenement.images" class="item" ng-class="{active:$first}">
											<img class="center-block" ng-src="img/portfolio/{{image.src}}">
											<div class="carousel-caption">
												<h3>{{image.titre}}</h3>
												<p>{{image.soustitre}}</p>
											</div><!-- carousel-caption -->
										</div><!-- item -->
									</div><!-- carousel-inner -->

									<!-- Left and right controls -->
									<a class="left carousel-control" href="#carou{{$index}}" role="button" data-slide="prev">
										<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
										<span class="sr-only">Précédent</span>
									</a>
									<a class="right carousel-control" href="#carou{{$index}}" role="button" data-slide="next">
										<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
										<span class="sr-only">Suivant</span>
									</a>
								</div><!-- carousel -->

								<br>

							</div><!-- thumbnail -->
						</div><!-- col-md-4 -->

					</div><!-- ng-repeat -->
				</div><!-- row -->
			</div><!-- container-fluid -->
		</div><!-- evenements -->



		<!-- diviseur -->
		<div id="div4" class="container-fluid diviseur text-center">
			<h1>UNE VIE ÉTUDIANTE DYNAMIQUE</h1>
			<hr>
			<p>Peu importe vos intérêts, que vous vouliez vous impliquer à fond ou seulement quelques heures par mois, la PHYSUM a une place pour vous.</p>
		</div><!-- container-fluid -->



		<!-- comités -->
		<div id="comites" class="container-fluid" ng-controller="Comites as comites">
			<h1>DÉCOUVREZ NOS COMITÉS</h1>
			<hr>
			<div class="container-fluid">
				<div class="row text-center">
					<div ng-repeat="comite in comites.com">

						<div class="clearfix visible-sm" ng-if="$index%2==0"></div>
							<div class="clearfix visible-md" ng-if="$index%3==0"></div>
								<div class="clearfix visible-lg" ng-if="$index%4==0"></div>

									<div class="col-sm-6 col-md-4 col-lg-3">
										<div class="thumbnail">
											<h2><span class="{{comite.glyph}}"></span></h2>
											<h3>{{comite.nom}}</h3>
											<p>{{comite.description}}</p>
											<p><a ng-if="comite.lien!=''" href="{{comite.lien}}" target="_blank" class="btn btn-default">Voir le site</a></p>
										</div>
									</div><!-- col-sm-6 col-md-4 col-lg-3 -->

					</div><!-- ng-repeat -->
				</div><!-- row -->
			</div><!-- container-fluid -->
		</div><!-- comites -->



		<!-- diviseur -->
		<div id="div5" class="container-fluid diviseur text-center">
			<h1>NOUS AVONS HÂTE DE VOUS RENCONTRER</h1>
			<hr>
			<p>Il nous fait toujours plaisir d'accueillir de nouvelles recrues dans nos rangs. Nous espérons vous voir bientôt en physique!</p>
		</div><!-- container-fluid -->



		<!-- calendrier -->
		<div id="calendrier" class="container-fluid" ng-controller="Comites as comites">
			<h1 class="centered">CALENDRIER</h1>
			<hr>
			<div class="embed-responsive embed-responsive-16by9 centered visible-sm visible-md visible-lg">
				<iframe class="embed-responsive-item" src="https://calendar.google.com/calendar/embed?src=physum.ce%40gmail.com&amp;wkst=1&amp;showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;ctz=America%2FToronto" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
			</div><!-- embed-responsive -->
			<div class="embed-responsive embed-responsive-16by9 centered visible-xs">
				<iframe class="embed-responsive-item" src="https://calendar.google.com/calendar/embed?src=physum.ce%40gmail.com&amp;wkst=1&amp;showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=500&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;ctz=America%2FToronto" style="border-width:0" width="300" height="500" frameborder="0" scrolling="no"></iframe>
			</div><!-- embed-responsive -->
		</div><!-- container-fluid -->



		<!-- footer -->
		<footer id="liens" class="container-fluid">
			<h1>Liens utiles</h1>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<p>Contactez nous sur notre page facebook: <a href="https://www.facebook.com/groups/physum/" class="icon icon-facebook"></a></p>
						<p>ou par courriel: <a href="mailto:physum.ce@gmail.com" target="_blank" class="glyphicon glyphicon-envelope"></a></p>
						<p>Nous avons aussi une page youtube: <a href="https://www.youtube.com/user/Physum2012" target="_blanck" class="icon icon-youtube"></a></p>
						<p>La page du département de physique vous en apprendra plus sur le programme: <a href="http://phys.umontreal.ca/accueil/" target="_blanck" class="glyphicon glyphicon-link"></a></p>
					</div><!-- col-md-6 -->
					<div class="col-md-6">
						<p>Nous faisons partie de la FAECUM, aller voir leur site ici: <a href="http://www.faecum.qc.ca/" target="_blanck" class="icon icon-faecum"></a></p>
						<p>Retrouver une panoplie de documents à la bibliothèque de physique: <a href="http://www.bib.umontreal.ca/py/" target="_blanck" class="glyphicon glyphicon-book"></a></p>
						<p>ainsi que les examens des années antérieures: <a href="http://www.bib.umontreal.ca/py/examens/cours/default.htm" target="_blanck" class="glyphicon glyphicon-duplicate"></a></p>
					  <div class="alert alert-info"><strong>Nouveau!</strong> La PHYSUM a maintenant un partenariat avec l'ACFAS. Consultez leur site ici: <a href="http://www.acfas.ca/" target="_blanck" class="alert-link icon icon-acfas"></a></div>
					</div><!-- col-md-6 -->
				</div><!-- row -->
			</div><!-- container-fluid -->
			<hr>
			<p>Pour toute question ou commentaire concernant le site internet, contactez la webmestre: <a href="mailto:aude.forcione.lambert@gmail.com" target="_blank" class="glyphicon glyphicon-envelope"></a></p>
		</footer>



		<!-- Scripts à la fin pour accélérer le chargement -->
		<!-- librairie jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- librairie bootstrap -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- smooth scroll -->
		
		

		<script>
			$(document).ready(function(){
				// Add smooth scrolling to all links in navbar + footer link
				$(".navbar a, footer a[href='#myPage']").on('click', function(event) {

					// Prevent default anchor click behavior
					event.preventDefault();

					// Store hash
					var hash = this.hash;

					// Using jQuery's animate() method to add smooth page scroll
					// The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
					$('html, body').animate({
						scrollTop: $(hash).offset().top -45
					}, 900, function(){

						// Add hash (#) to URL when done scrolling (default click behavior)
						window.location.hash = hash;
					});
				});
			})
		</script>



	</body>
</html>
