@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ncslql');
  src:  url('fonts/icomoon.eot?ncslql#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ncslql') format('truetype'),
    url('fonts/icomoon.woff?ncslql') format('woff'),
    url('fonts/icomoon.svg?ncslql#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-drive:before {
  content: "\e90a";
}
.icon-books:before {
  content: "\e905";
}
.icon-library:before {
  content: "\e906";
}
.icon-trophy:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-youtube:before {
  content: "\e908";
}
.icon-acfas:before {
  content: "\e909";
}
.icon-faecum:before {
  content: "\e903";
}
.icon-physum:before {
  content: "\e904";
}
.icon-balance:before {
  content: "\e902";
}
.icon-soccer:before {
  content: "\e901";
}
.icon-beer:before {
  content: "\f0fc";
}
.icon-wechat:before {
  content: "\f1d7";
}
.icon-leanpub:before {
  content: "\f212";
}

